<div class="container">
	<div
	class="contestant"
	*ngFor="let contestant of contestantList"
	[class.contestant-outed]="contestant.lives === 0"
	>
	<div class="contestant-info">
		<div class="name-surname">
			{{contestant.name}}
			<!--{{contestant.surname}}-->
		</div>
		<div class="facility">
			{{contestant.facility}}
		</div>
		<div class="score">
			{{contestant.score}}
		</div>
	</div>

	<div class="lives-container">
		<app-lives-indicator 
		*ngFor="let l of [].constructor(3); let i = index; let first = first; let last = last" 
		[live]="i < contestant.lives"
		[last]="last"
		[first]="first"
		></app-lives-indicator>
	</div>
</div>
</div>
